<h3>header component</h3>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MyBrand</a>

    <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarAltMarkup" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" routerLinkActive="active" routerLink="/recipes">Recipes</a>
            <a class="nav-item nav-link" routerLinkActive="active" routerLink="/shopping-list">Shopping List</a>
        </div>
        <div class="navbar-nav">
            <div class="nav-item dropdown" appDropdown (showDropdown)="onDropdown()">
                <a class="nav-link dropdown-toggle" role="button"
                    id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Pick
                </a>
                <div class="dropdown-menu" [ngClass]="isDropdown ? 'show' : ''" style="cursor: pointer;" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item">Save List1</a>
                    <a class="dropdown-item">Save List2</a>
                </div>
            </div>
            <a class="nav-item nav-link">Save</a>

        </div>
    </div>
</nav>