<div class="row">
    <div class="col-sm-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSave()">

            <div class="row">
                <div class="col-sm-12" style="margin-bottom: 1rem;">
                    <button type="submit" 
                        [disabled]="recipeForm.invalid"
                        class="btn btn-success"
                        style="margin-right: 1rem;">Save</button>
                    <button type="button" 
                        (click)="onCancel()"
                        class="btn btn-danger">Cancel</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" formControlName="name" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="imageUrl">Image URL</label>
                        <input 
                            type="text" 
                            id="imageUrl" 
                            formControlName="imageUrl" 
                            #imageUrl 
                            class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <img [src]="imageUrl.value" class="img-fluid">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea 
                            type="text" 
                            id="description" 
                            rows="6"
                            formControlName="description" 
                            class="form-control">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div formArrayName="ingredients" class="col-sm-12">
                    <div 
                        *ngFor="let ingredientCtrl of ingredientControls; let i = index"
                        [formGroupName]="i"
                        class="row"
                        style="margin-top: 0.5rem;">
                        <div class="col-sm-8">
                            <input type="text" formControlName="name" class="form-control">
                        </div>
                        <div class="col-sm-2">
                            <input type="number" formControlName="amount" class="form-control">
                        </div>
                        <div class="col-sm-2">
                            <button 
                                type="button" 
                                (click)="onDeleteIngredient(i)"
                                class="btn btn-danger btn-block">x</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button
                                type="button"
                                (click)="onAddIngredient()"
                                class="btn btn-success">Add Ingredient
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>